body {
    /* background-color: bisque; */
    
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 0;
    padding: 0;
}

#subbodyindex {
    /* background-color: blue; */
    
    height: 100vh;
    width: 100vw;

    display: flex;
    align-items: center;
    justify-content: center;

    margin: 0;
    padding: 0;
    z-index: -100;
}

#videoindex {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -100;
}

.container-fluid {
    position: absolute;
    z-index: 0;
}

.uprow {
    /* background-color: chartreuse; */

    height: 25vh;

    display: flex;
    align-items:center;
    justify-content:center;
}

.borded {
    border-radius: 10% 10% 10% 10%;
}

.downrow {
    /* background-color: crimson; */

    height: 75vh;

    display: flex;
    align-items:center;
}

.downrowrest {
    height: 75vh;
    
    display: flex;
    align-items:center;
    justify-content:center;
}

.dsrest {
    /* background-color: aquamarine; */
    
    display: flex;
    align-items:baseline;
    justify-content:baseline;

    height: 30vh;
    width: 60vw;

    flex-direction: row;
}

.bisque {
    background-color:bisque;
}

.centered {
    justify-content: center;
    display: flex;
}

.mod1 {
    background-color: bisque;

    width: 20vw;

    color: rgb(129, 25, 25);
    border-color: rgb(129, 25, 25);
}

.mod2 {
    background-color: bisque;

    width: 15vw;

    color: rgb(129, 25, 25);
    border-color: rgb(129, 25, 25);
}

.mod3 {
    background-color: bisque;

    width: 10vw;

    color: rgb(129, 25, 25);
    border-color: rgb(129, 25, 25);
}

#viajar:hover {
    background-color: rgb(245, 230, 213);

    color: rgb(121, 40, 40);
    border-color: rgb(129, 25, 25);
}

.restaurant {
    background-color: blueviolet;

    height: 30vh;
    width: 30vw;
}

.picsize {
    /*El tamaño de las imágenes siempre en EM */
    height: 20em;
    width: 40em;
}

.carousel-inner {
    height: 20em;
    width: 40em;

    border-radius: 2em;
}